body {
  background: #000 url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #FFF;
  padding-top: 36px;
  font-size: 13px;
}

.container {
  width: 720px;
}

#header {
  margin-bottom: 36px;
}

#header h1, #header h2 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

#header h1 {
  color: #900;
  font-size: 56px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#header h2 {
  font-size: 30px;
  color: #000;
  color: rgba(0,0,0,0.6);
}

#header p {
  margin-top: 0.8em;
  font-size: 1.1em;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.content {
  color: #000;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  padding: 3em 0;
}

#carousel {
  position: relative;
  margin-bottom: 36px;
}

#carousel .viewport {
  width: 710px;
  height: 470px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  background: #FFF;
}

#carousel .buttons {
  position: absolute;
  display: block;
  padding: 0 18px;
  width: 30px;
  height: 470px;
  text-indent: -2000px;
  overflow: hidden;
  background: no-repeat center center;
  top: 0;
}

#carousel .prev {
  right: 100%;
  background-image: url(../images/arrow-left.png);
}

#carousel .next {
  left: 100%;
  background-image: url(../images/arrow-right.png);
}

#carousel .disable {
  opacity: 0.3;
}

#carousel .overview {
  list-style: none;
  padding: 0; margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#carousel .overview li {
  float: left;
  width: 710px;
  height: 470px;
  position: relative;
}

#carousel .overview img {
  width: 100%;
}

#carousel .overview p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  text-shadow: 0px 1px 3px #000;
  padding: 18px;
  margin: 0
}

#carousel .pager {
  list-style: none;
  clear: both;
  padding: 0;
  margin: 18px 0;
}

#carousel .pager li {
  float: left;
  margin-right: 10px;
}

#carousel .pagenum {
  border-radius: 2px;
  display: block;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
  overflow: hidden;
  background-color: #FFF;
  text-align: center;
}

#carousel .pagenum img {
  margin-left: -10%;
  height: 100%;
}

#carousel .active {
  box-shadow: 0px 0px 5px #3A6ADE;
}

section {
  margin-bottom: 1.5em;
}

#map {
  text-align: center;
}

#map img {
  display: block;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

dl dt {
  float: left;
  clear: left;
  width: 50px;
  text-align: right;
}

dl dd {
  margin-left: 65px;
}
